<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Restoran</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800" rel="stylesheet">
    <script src="main.js"></script>
</head>

<body>

    <section class="city">
        <div class="top__nav wrapper">
        
            <ul class="top__nav__list">
                <li class="top__nav__list__home">
                    <a href="/index.html">
                        <svg class="top__nav__list__home__svg">
                            <use xlink:href="/img/svg/sprite.svg#icon-home"></use>
                        </svg>
                    </a>
                    <h4 class="top__nav__list__home__text">Home</h4>
                </li>
            </ul>
        
            <div class="top__nav__center">
                <h4 class="top__nav__center__text">Where to?</h4>
                <svg class="top__nav__center__svg">
                    <use xlink:href="/img/svg/sprite.svg#icon-earth"></use>
                </svg>
            </div>
        
            <ul class="top__nav__right">
                <li class="top__nav__right__item">
                    <a href="https://www.facebook.com/profile.php?id=1245482540">
                        <svg class="top__nav__right__item__svg">
                            <use xlink:href="/img/svg/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
        
                <li class="top__nav__right__item">
                    <a href="https://www.instagram.com/dimenajdovski/">
                        <svg class="top__nav__right__item__svg">
                            <use xlink:href="/img/svg/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
        
                <li class="top__nav__right__item">
                    <a href="https://www.linkedin.com/in/dime-najdovski-b91078171/">
                        <svg class="top__nav__right__item__svg">
                            <use xlink:href="/img/svg/sprite.svg#icon-linkedin2"></use>
                        </svg>
                    </a>
                </li>
        
                <li class="top__nav__right__item">
                    <svg class="top__nav__right__item__svg">
                        <use xlink:href="/img/svg/sprite.svg#icon-twitter"></use>
                    </svg>
                </li>
            </ul>
        </div>

        <div class="city__box">
            <img src="<%= image %>" alt="" class="city__box__img">
        </div>



        <h3 class="city__info">You have chosen the city of
            <span class="city__capitalise">
                <%= city %> </span> to explore.
            The weather in
            <span class="city__capitalise">
                <%= city %> </span> is
            <%= summary %>, the temperature is
            <%= temp %> degrees celsius, the wind speed is
            <%= wind %> km/h
            and the chance of
            <%= percipType %> is
            <%= percip %>%. We recommend choosing some of the following places for a good time. Keep exploring!
        </h3>

        <form action="/places" method="POST" class="city__form-2 wrapper">

            <% for (var i = 0; i < selected.length; i++) { %>
            <input name="<%=selected[i]%>" value="<%=names[i]%>" type="submit" class="city__form-2__submit">
            <% } %>
            <input class="city__form-2__hidden" type="text" name="city" value="<%= city %>" />
            <input class="city__form-2__hidden" type="text" name="localTime" value="<%= localTime %>" />
            <input class="city__form-2__hidden" type="text" name="temp" value="<%= temp %>" />
            <input class="city__form-2__hidden" type="text" name="wind" value="<%= wind %>" />
            <input class="city__form-2__hidden" type="text" name="lat" value="<%= lat %>" />
            <input class="city__form-2__hidden" type="text" name="lng" value="<%= lng %>" />

        </form>
        </div>

    </section>

    <section class="hidden">

    </section>

</body>

</html>